.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 0px 0px 10px 10px;
}

.shop-logo img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.shop-logo {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.shop-logo h5 {
    font-size: 30px;
    color: blue;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
}





@media screen and (max-width: 992px){
    .shop-container {
        grid-template-columns: repeat(1, 1fr);
        
    }
    .products {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px){
    .shop-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 576px){
    .shop-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .products {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width: 320px){
    .shop-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .products {
        grid-template-columns: repeat(1, 1fr);
    }
}